/* --------------------------------- */
/* Estilos Interfaz Cliente           */
/* ---------------------------------- */


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.dataDisplay {
    
    margin: 20px; 
    padding: 20px;
    overflow-x: auto; 
}


#dataTable {
    width: 1000px;
    border-collapse: collapse; 
   
}

#dataTable thead th {
    padding: 10px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}

#dataTable tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}


#graphContainer {
    margin-top: 20px; 
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.sensor {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}



/* Pagina de Bienvenida */

.welcome{

    text-align: center;
}


#huertos-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 60vh;
    background-color: var(--white);
    padding: 20px;
    border: 2px solid var(--black);
    margin: 0 auto;
}

.huerto-link {
    width: 50%;
    color: white;
    background-color: var(--wine);
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    transition: background-color 0.3s, color 0.3s;
}

.huerto-link:hover {
    background-color: var(--green);
    color: var(--black);
}

