
.instalaciones-page{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 24%, rgba(248,248,248,0) 50%, rgba(0,0,0,1) 76%);
    min-height: calc(100vh - 140px);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.instalaciones-title{

    text-align: center;
    color: #fff;
    padding: 75px 0 50px 0;
}


.instalaciones-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;

}

.instalacion_controls {
    flex: 0 0 10%;
    order: 1;
    background-color: var(--white);
    padding: 20px;
    gap: 20px;
}

.chart-container {
    flex: 0 0 70%;
    order: 2;
    background-color: transparent;
}

.chart-buttons {
    flex: 0 0 10%;
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    /* background-color: var(--white); */
    border: 20px solid #fff;
}

.space {
    height: 20px;
}


.chart{

    padding: 20px;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    background: var(--white) ;
}

.s1 #filtro-medidas{

    width: 100%;
    color: var(--wine);
}

.s1 #instalacion{

    width: 100%;
    color: var(--wine);
}

.edit-link2 {
    font-weight: bold;
    display: inline-block;
    padding: 5px 20px;
    width: 100px;
    height: 45px;
    background-color: var(--wine2);
    color: var(--white);
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.edit-link2:hover {
    background: var(--wine);
}

.chart-controls{
    width: 200px;
    margin: 0 auto;
}



.chart-controls2 .s1{
    text-align: center;
    width: 50%;
}







/* Style for toggle buttons */

.toggle-btn {
    border: none;     
    text-align: center;
    text-decoration: none;
    display: inline-block;

    padding: 5px 10px;
    margin: 5px 0;
    font-size: 16px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: #fff;
}

/* botones por defecto */

#btn-humedad.on{
    background-color: #61be23;

}

#btn-humedad.off{
    background-color: #cbecb5;
}

#btn-luminosidad.on{
   
        background-color: #43748F;
}

#btn-luminosidad.off{
    
    background-color: #8dc3df;
}

#btn-ph.on{
    background-color: #618B25;
}

#btn-ph.off{
    background-color: #bff377;
}

#btn-Salinidad.off{
    background-color: #810053;
}

#btn-Salinidad.on{
    background-color: #59003a;
}

#btn-Temperatura.off{
    background-color: rgba(0,0,0,0.5);
}

#btn-Temperatura.on{
    background-color: #000000;
}

#btn-none{
    /* background-color: #82846d; */
    background-color: #43748F;
}

#btn-all{
    background-color: #8dc3df;

}


#btn-none:hover{
    background-color: #636454;
}

#btn-all:hover{
    background-color: #82846d;

}


.chart-container {
    /* position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff; */
}


.chart-container h3{
    padding: 100px;
    text-align: center;
}

.register-action-group{

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.register-action-group a{
    display: block;
}

@media (max-width: 1600px) {
    
    .instalaciones-page{
        justify-content: left;
    }

    .instalacion_controls {

        margin-left: 40px;
    }
}



@media (max-width: 1470px) {

    .instalaciones-container {

        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .instalacion_controls{

        display: flex;
        justify-content: center;
        width: 1000px;
        margin: 0;
        
    }

    .chart{

        width: 1000px;
    }

    .chart-buttons{

        width: calc(1000px - 40px);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    
}


@media (max-width: 1150px) {

    .instalacion_controls{


        width: 800px;

        
    }

    .chart{

        width: 800px;
    }

    .chart-buttons{

        width: calc(800px - 40px);

    }


}


@media (max-width: 890px) {

    .instalacion_controls{


        width: 600px;

        
    }

    .chart{

        width: 600px;
    }

    .chart-buttons{



        width: calc(600px - 40px);

    }


}


@media (max-width: 700px) {

    .instalacion_controls{


        width: 500px;

        
    }

    .chart{

        width: 500px;
    }

    .chart-buttons{

        width: calc(500px - 40px);

    }


}

@media (max-width: 550px) {

    .instalacion_controls{

        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10%;
        overflow-x: hidden;
        align-items: left;
        
    }

    .chart{

        width: 400px;
    }

    .chart-buttons{

        width: 100%;
        border: none;


    }


}


@media (max-width: 450px) {

    .chart{

        width: 300px;
    }

}


@media (max-width: 350px) {

    .instalacion_controls{

        align-items: start;
    }

    .chart{

        width: 250px;
    }

}


